<div class="col-md-7 content" style="border-right: #eee 1px solid">
    <p>电气工程专业业余程序员</p>
    <p>严重的拖延症患者</p>
    <p>最初在搞JAVA, 研究过一阵Javascript, 现在对python很感兴趣。</p>
    <p>“Life is short, you need Python!” -- Bruce Eckel</p>
    <img class="img-responsive" src="https://raw.githubusercontent.com/pc007007/picture/master/blog/python.jpg">
    <p>我感觉我进了一个大坑, 但是已经不想回头了。</p>
    <img class="img-responsive" src="https://raw.githubusercontent.com/pc007007/picture/master/blog/%E7%88%B6%E4%B8%8E%E5%AD%90.jpg">
</div>
<div class="col-md-5">
    <div id="comment-box" style="margin-top: 100px"></div>
</div>
