<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheng | Skill Tree</title>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
    <script src="/static/skill-tree/app.js"></script>
    <script src="/static/skill-tree/d3Service.js"></script>
    <link href="/static/skill-tree/skilltree.css" rel="stylesheet">
</head>
<body ng-app="skillTree" ng-cloak ng-controller="mainController">
This is my skill tree home page!
<br>
d3 version:{{version}}<br>
</body>
</html>