<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheng | Skill Tree</title>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
    <script src="/static/skill-tree/app.js"></script>
    <script src="/static/skill-tree/d3Service.js"></script>
    <link href="/static/skill-tree/skilltree.css" rel="stylesheet">
</head>
<body ng-app="skillTree" ng-cloak ng-controller="mainController">
<p>我的技能树主页</p>
<p>左键学习技能,右键取消技能</p>
<p>d3 version:4.2.3</p>
<p>Created by Pitcher Peng</p>
</body>
</html>