{% extends "user/layout/layout.html" %}
{% block title %}Pitcher| 关于{% endblock %}
{% block header %}
    <header class="intro-header"
            style="background-image: url('http://img.my.csdn.net/uploads/201609/15/1473917620_9896.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>关于我</h1>
                        <hr class="small">
                        <span class="subheading">"我劝天公重抖擞,不拘一格降人才"</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <p>电气工程 业余程序员</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit,
        fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto
        error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas
        voluptatibus, minus!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente qui
        voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti enim modi!
        Et.
    </p>
    <p>
        prepare to full with comic story! And add google map information!I like pixel art!
    </p>
{% endblock %}

