{% extends "user/layout/layout.html" %}
{% block title %}Pitcher| 关于{% endblock %}
{% block header %}
    <header class="intro-header"
            style="background-image: url('http://img.my.csdn.net/uploads/201609/15/1473917620_9896.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>关于我</h1>
                        <hr class="small">
                        <span class="subheading">"我劝天公重抖擞,不拘一格降人才"</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <p>电气工程专业业余程序员</p>
    <p>严重的拖延症患者</p>
    <p>最初在搞JAVA, 研究过一阵Javascript, 现在对python很感兴趣。</p>
    <p>“Life is short, you need Python!” -- Bruce Eckel</p>
    <img src="http://a1.qpic.cn/psb?/V11BveOh2NYhJ3/18pM8I7qdj2*dV2*.Z0BaY2LavNQYBcJfQ2u9Lk40L0!/b/dK4AAAAAAAAA&bo=IAMVAgAAAAAFBxA!&rf=viewer_4">
    <p>我感觉我进了一个大坑, 但是已经不想回头了。</p>
    <img src="http://a3.qpic.cn/psb?/V11BveOh2NYhJ3/nWRFH6TruAN.hzmcD9dhKgRH3Ub4RGWiwaM5HvgOlb8!/b/dK0AAAAAAAAA&amp;bo=wgFwAgAAAAAFB5U!&amp;rf=viewer_4">
{% endblock %}
{% block map %}
<div id="container" tabindex="0" style="height: 300px;width: 100%;margin: 0px;outline: 0"></div>
<hr>
<script src="http://webapi.amap.com/maps?v=1.3&key=ab7b4070e0c76f5c58cec4b87eb90939"></script>
<script type="text/javascript">
    var map = new AMap.Map('container', {
        resizeEnable: false,
        center: [117.196648, 39.147869 ],
        zoom: 14,
        dragEnable: true,
        zoomEnable: false,
        doubleClickZoom: false
    });
</script>
{% endblock %}

