{% extends "user/layout/layout.html" %}
{% block title %}Pitcher| 主页 {% endblock %}
{% block header %}
    <header class="intro-header"
            style="background-image: url('https://raw.githubusercontent.com/pc007007/blog-python/master/static/user/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Pitcher</h1>
                        <hr class="small">
                        <span class="subheading">一个远方人的家</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block body %}

    {% for post in posts %}
        <div class="post-preview">
            <a href="{{ post.url }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle" style="font-size: 0.9em">
                    {{ post.content[0:100] }}......
                </h3>
            </a>
            <p class="post-meta"><a href="/about"> {{ post.author }} </a>发表于 {{ post.time.strftime("%Y年 %m月 %d日") }}</p>
        </div>
        <hr>
    {% endfor %}
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="/posts/">更多文章 &rarr;</a>
        </li>
    </ul>
{% endblock %}