{% extends "user/layout/layout.html" %}
{% block title %}Pitcher| 文章 |{{ post.title }}{% endblock %}
{% block header %}
    <header class="intro-header"
            style="background-image: url('http://img.my.csdn.net/uploads/201609/15/1473919855_7249.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <br>
                        <span class="meta"> <i class="fa fa-user fa-fw"></i><a href="#"> {{ post.author }}</a>
                            <i class="fa fa-calendar fa-fw"></i><a href="#"> {{ post.time }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    {{ post.content | safe }}
    <br>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}"
         data-url="chengpeng.org{{ request.path }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name: "test2017"};
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
{% endblock %}