{% extends "user/layout/layout.html" %}
{% block title %}Pitcher| 文章{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image: url('https://raw.githubusercontent.com/pc007007/blog-python/master/static/user/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>所有文章</h1>
                        <h2 class="subheading">历史是彷徨者的向导</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <ul>
        {% for post in posts %}
            {% if post.showYear %}
            <h2 style="position: relative;left: -30px;color: #5e5e5e">{{ post.time.strftime('%Y') }}</h2>
            {% endif %}
            <li>{{ post.time.strftime('%m月%d日') }}
                一 <a href="{{ post.url }}" style="color: #23527c">{{ post.title }}</a></li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}