{% extends "user/layout/layout.html" %}
{% block title %}Pitcher| 玩意儿{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image: url('http://img.my.csdn.net/uploads/201609/15/1473919444_6618.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>玩意儿</h1>
                        <hr class="small">
                        <span class="subheading">/var/log/life</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <a href="/project/skill-tree/showcase">skill tree</a>
{% endblock %}

