{% extends "user/layout/layout.html" %}
{% block header %}
    <header class="intro-header" style="background-image: url('../../static/main-blog/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>玩意</h1>
                        <hr class="small">
                        <span class="subheading">/var/log/life</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <a href="/project/skill-tree/showcase">skill tree</a>
{% endblock %}

